h1 {
    font-size: 5em;
    color: palevioletred;
    font-style: italic;
    position: fixed;
    padding: 5em;
}

h2 {
    font-size: 3em;
    color: palevioletred;
    font-family: serif;
}

h3 {
    font-size: 2em;
    color: palevioletred;
    font-family: serif;
}

p {
    color: darkmagenta;
    font-size: 1em;
}

ul {
    color: darkblue;
}
