body {
    background-color:lightgoldenrodyellow;
    background-image: url("ny.jpg");
    background-size: 100%;

  }

h2 {
    font-size: 3em;
    color: palevioletred;
    font-family: sans-serif;
    text-align: center;
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

div.background {
    background: grey;
    border: 2px solid black;
}
  
div.transbox {
    margin: 40px;
    background-color: black;
    border: 3px solid pink;
    opacity: 0.6;
    border-radius: 20px;
}
  
div.transbox p {
    margin: 2%;
    font-weight: bold;
    color: pink;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
}

div ul,ol {
    font-size: 1.5em;
    color: pink;
    font-family: sans-serif;
    font-weight: bold;
    width: 20%;
    margin: auto;
}

.roundImage {
    border-radius: 20px;
    border: 3px solid pink;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
