body {
    background-color:lightgoldenrodyellow;
  }

h1 {
    font-size: 3.5em;
    color: palevioletred;
    font-style: italic;
    position: sticky;
    text-align: center
}

h2 {
    font-size: 3em;
    color: palevioletred;
    font-family: serif;
    text-align: center
}


p {
    color: darkmagenta;
    font-size: 1.5em;
    font-family: serif;
    text-align: center
    
}

p.header {
    color: darkmagenta;
    font-size: 1.5em;
    font-family: serif;
    font-weight: bold;
    
}

ul,ol {
    color: darkblue;
    font-size: 1.5em;
    padding-left: 30%;
}

